body{
    font-family: 'Roboto', sans-serif;
}

.inputFields {
    display:flex;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}

.inputDigit{
    width: 200px;
    display: flex;
    justify-content: flex-end;
}

.inputDigit input{
    width: 50px;
}

label {
    margin-right: 3px;
}   
.result-module{
    display:flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-top: 20px;
} 

.result-area{
    display: flex;
    flex-direction: row;
    align-self:flex-start;
    margin-top:5px;
    margin-left:65px;
} 
#answer{
    margin-left: 3px;
}
